<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key ="inputDirPath" value ="C:\Wilson_2013\Applications\Print\ReImaging\bin\Debug\OutputTrace\"/>
    <add key ="inputFilePath" value ="FISReImaging_2017-03-01_082552"/>
    <add key ="outputDirPath" value ="C:\Users\rgens\Desktop\"/>
    <add key ="outputFilePath" value ="CompressionResults"/>
  </appSettings>
</configuration>